<snippet>
	<content><![CDATA[
// =================================================
//
// ${1: Large block comment}
//
// =================================================

${2}
]]></content>
	<tabTrigger>coml</tabTrigger>
	<scope>source.scss, source.sass</scope>
</snippet>
